{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block title %}
    {{ type }} Project
{% endblock %}

{% block content %}
    <h2>{{ type }} Project</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
        <div>
            <button class="btn btn-dark" type="submit">{{ type }}</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    {{ form.media.js }}
{% endblock %}
