{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <h2><span>Projects</span>
                <a class="badge badge-success" href="{% url 'projects:project-add' %}"><i class="material-icons">add</i></a>
            </h2>
        </div>
    </div>
    <main>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Collaborators</th>
                <th>IRB Status</th>
                <th>Instructions</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>
                        {% for u in p.collaborators.all %}
                            {% if u.id != user.id %}
                                {{ u.full_name }}{% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if p.approved %}
                        <td><span class="badge badge-success">Approved</span></td>
                    {% else %}
                        <td><span class="badge badge-warning">Pending</span></td>
                    {% endif %}
                    <td>
                        <a href="{{ p.instructions.url }}"><i class="material-icons left">attach_file</i></a>
                    </td>
                    <td>
                        <a href="{% url 'projects:project-edit' p.id %}"><i class="text-success material-icons">edit</i></a>
                        <a href="{% url 'projects:project-delete' p.id %}"><i class="text-danger material-icons">delete</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </main>
{% endblock %}
