{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<h2>Projects</h2>
    <main>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>IRB Approved</th>
            </tr>
            </thead>
            <tbody>
            {% for p in projects %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>
                        {% for u in p.collaborators.all %}
                            {{ u.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ p.approved }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </main>
{% endblock %}
