{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <h2><span>Projects</span>
                <a class="badge badge-success" href="{% url 'projects:project-add' %}"><i class="material-icons">add</i></a>
            </h2>
        </div>
    </div>
    <main>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Primary Investigators</th>
                <th>Research Assistants</th>
                <th>IRB Approval Method</th>
                {% if user.is_irbadmin %}
                    <th>IRB Status</th>
                {% endif %}
                <th>Attached Files</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>
                        {% for u in p.primary_investigators.all %}
                            {{ u.full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for u in p.research_assistants.all %}
                            {{ u.full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    {% if user.is_irbadmin %}
                        <td>{{ p.get_irb_approval_method_display }}</td>
                    {% endif %}
                        <td>
                            <span class="badge badge-success">
                                {% if p.approved %}Approved{% else %}Pending{% endif %}
                            </span>
                        </td>
                    <td>
                        {% for f in p.files.all %}
                            <a href="{{ f.file.url }}">{{ f.file.name }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'projects:file-add' p.id %}"><i class="material-icons left">attach_file</i></a>
                        <a href="{% url 'projects:project-edit' p.id %}"><i class="text-success material-icons">edit</i></a>
                        <a href="{% url 'projects:project-delete' p.id %}"><i class="text-danger material-icons">delete</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </main>
{% endblock %}
